{%- if theme.addtoany.enable %}
  <div class="social-like a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
    {%- for button in theme.addtoany.buttons %}
      <a class="a2a_button_{{ button }}"></a>
    {%- endfor %}
  </div>
{%- endif %}

{%- if theme.twitter %}
  <div class="clearfix">
    <div class="alignright">
      <a href="https://twitter.com/intent/tweet?ref_src=twsrc%5Etfw" data-text="{{ post.title }} | {{ config.title }}" data-url="{{ config.url }}/{{ post.path }}" data-via="elleonard_f" class="twitter-hashtag-button" data-show-count="false">Post</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
{%- endif %}
