.social-like {
  border-top: 1px solid $gainsboro;
  font-size: $font-size-small;
  margin-top: 1em;
  padding-top: 1em;
  float: right;

  a {
    border-bottom: none;
  }
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.alignright {
  float: right
}
